.row {
  margin-left: 2rem;
  color: white;
}

.row-posters {
  display: flex;
  padding: 1rem 0;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 2rem;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster-image {
  object-fit: contain;
  width: 100%;
  max-height: 10rem;
  margin-right: 1rem;
  transition: transform 450ms;
  cursor: pointer;
}

.row-poster-image:hover {
  transform: scale(1.08);
}

.row-poster-large {
  max-height: 25rem;
}

.row-poster-large:hover {
  transform: scale(1.09);
}
